<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <title>Edit Profile - Instagram</title>
  <script src="https://kit.fontawesome.com/f50909569e.js" crossorigin="anonymous"></script>
  <style>
    body {
      background-color: black;
      color: white;
      padding: 20px;
    }

    i{
      padding-right: 5px;

    }

    .profile-picture {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
    }
  </style>
</head>

<body>
  <div class="container">
    <a href="/" class="btn btn-outline-light my-3">
      <i class="fa-sharp fa-solid fa-house"></i>
      Home
    </a><br>
    <h1>Account Settings for <b>{{user.username}}</b></h1>
    <hr>

    <div class="row">
      <div class="col-md-4 my-5" style="text-align: center;">
        <img src="{{user_profile.profileimg.url}}" alt="Profile Picture" class="profile-picture"><br>
      </div>
      <div class="col-md-8">
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <label class="form-label">Change Profile Image</label>
            <input type="file" class="form-control" name="profileimg">
          </div>
          <div class="mb-3">
            <label class="form-label">Country</label>
            <input type="text" class="form-control" name="location" value="{{user_profile.location}}">
          </div>
          <div class="mb-3">
            <label for="bio" class="form-label">Bio</label>
            <textarea class="form-control" name="bio" rows="3">{{user_profile.bio}}</textarea>
          </div>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
        <hr>
        {% if messages %}
        {% for message in messages %}
        <h5 style="color:red;">{{message}}</h5>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</body>

</html>
